
$link-color: $blue-000;

h2,
.text-beta,
#toctitle {
  @include fs-7;
}

h3 {
  @include fs-6;
}

h4 {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 0.5em;

  @include fs-5;
}

a {
  color: $blue-000 !important;
}
